<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714946331695-kpvqk61ulfrv799gqact9gjn9o34lk7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714946331695-kpvqk61ulfrv799gqact9gjn9o34lk7v</string>
	<key>API_KEY</key>
	<string>AIzaSyDNIla8nBV5g8Raz_Cc9Q9ST5-vZycvJjg</string>
	<key>GCM_SENDER_ID</key>
	<string>714946331695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vhembeGov</string>
	<key>PROJECT_ID</key>
	<string>vhembe-gov</string>
	<key>STORAGE_BUCKET</key>
	<string>vhembe-gov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714946331695:ios:def305f7aef4d59b4e32da</string>
</dict>
</plist>